@model Domains.ViewModel.EmployeeViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Сотрудники</h1>

@if (User.IsInRole("admin"))
{
    <p>
        <a class="btn btn-success" asp-action="Create">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-plus" viewBox="0 0 16 16">
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
                <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4" />
            </svg>
        </a>
    </p>
}
<button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-steps" viewBox="0 0 16 16">
        <path d="M.5 0a.5.5 0 0 1 .5.5v15a.5.5 0 0 1-1 0V.5A.5.5 0 0 1 .5 0M2 1.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm2 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5z" />
    </svg>
</button>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Фильтры</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form asp-action="Index" method="post">
            <p>
                <div class="row">
                    <label>Поиск по ФИО:</label>
                    <input type="text" style="max-width:300px" asp-for="@Model.Fio" name="Fio" placeholder="Поиск по ФИО">
                </div>
                <div class="row">
                    <label>Поиск по должности:</label>
                    <input type="text" style="max-width:300px" asp-for="@Model.JobTitle" name="JobTitle" placeholder="Поиск по должности">
                </div>
                <div class="row">
                    <label>Возраст:</label>
                    <input type="number" style="max-width:300px" asp-for="@Model.Age" name="Age" placeholder="Возраст">
                </div>
                <input type="submit" value="Применить фильтр">
            </p>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().Fio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employees) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <a  asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                        <a  asp-action="Details" asp-route-id="@item.Id">Подробности</a>
                        <a  asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Подробности</a>
                    </td>
                }
        </tr>
        }
    </tbody>
</table>
<div class="d-flex justify-content-center align-items-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= Model.Page.TotalPages; i++)
            {
                <li class="page-item @(i == Model.Page.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i, pageSize = Model.Page.PageSize })">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>